<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootReactApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <module name="spring-boot-react" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.danarim.springBootReact.SpringBootReactApplication" />
    <extension name="software.aws.toolkits.jetbrains.core.execution.JavaAwsConnectionExtension">
      <option name="credential" />
      <option name="region" />
      <option name="useCurrentConnection" value="false" />
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="Maven.BeforeRunTask" enabled="true" file="$PROJECT_DIR$/pom.xml" goal="install" />
    </method>
  </configuration>
</component>